/* ========================= */

body{

    margin:0;

    font-family:'Poppins',sans-serif;

    background:#f8f9fc;
}

/* HERO */

.hero{

    height:90vh;

    display:flex;

    justify-content:center;

    align-items:center;

    text-align:center;

    color:white;

    background:

    linear-gradient(rgba(0,0,0,.55),rgba(0,0,0,.55)),

    url("../images/banner/hero.jpg");

    background-size:cover;

    background-position:center;
}

.hero-content{

    width:80%;

    max-width:900px;
}

.hero h1{

    font-size:60px;

    margin-bottom:20px;
}

.hero p{

    font-size:22px;

    line-height:1.8;

    margin-bottom:40px;
}

.hero-buttons{

    display:flex;

    justify-content:center;

    gap:20px;

    flex-wrap:wrap;
}

.btn-primary{

    background:#6C63FF;

    color:white;

    padding:15px 35px;

    text-decoration:none;

    border-radius:40px;

    transition:.3s;
}

.btn-primary:hover{

    background:#584cf7;
}

.btn-secondary{

    border:2px solid white;

    color:white;

    padding:15px 35px;

    text-decoration:none;

    border-radius:40px;

    transition:.3s;
}

.btn-secondary:hover{

    background:white;

    color:#6C63FF;
}

/* CATEGORY */

.categories{

    padding:90px 8%;
}

.section-title{

    text-align:center;

    margin-bottom:60px;
}

.section-title h2{

    font-size:42px;

    margin-bottom:15px;

    color:#222;
}

.section-title p{

    color:#666;
}

.category-grid{

    display:grid;

    grid-template-columns:repeat(auto-fit,minmax(250px,1fr));

    gap:30px;
}

.category-card{

    background:white;

    border-radius:18px;

    padding:35px;

    text-align:center;

    box-shadow:0 10px 25px rgba(0,0,0,.08);

    transition:.3s;
}

.category-card:hover{

    transform:translateY(-10px);
}

.category-icon{

    font-size:55px;

    margin-bottom:20px;
}

.category-card h3{

    color:#6C63FF;

    margin-bottom:15px;
}

.category-card p{

    color:#666;

    line-height:1.6;
}
/* ===========================
   FEATURED DECORATORS
=========================== */

.featured-decorators{
    padding:80px 8%;
    background:#fff;
}

.decorator-container{
    display:grid;
    grid-template-columns:repeat(3,1fr);
    gap:30px;
}

.decorator-card{
    background:#fff;
    border-radius:15px;
    overflow:hidden;
    box-shadow:0 10px 20px rgba(0,0,0,.1);
    transition:.3s;
}

.decorator-card:hover{
    transform:translateY(-10px);
}

.decorator-card img{
    width:100%;
    height:250px;
    object-fit:cover;
}

.decorator-card h3{
    padding-top:15px;
    color:#6C63FF;
    text-align:center;
}

.rating{
    text-align:center;
    color:#FFD700;
    margin:10px 0;
}

.decorator-card p{
    padding:0 20px;
    color:#555;
}

.profile-btn{
    display:block;
    width:160px;
    margin:20px auto;
    text-align:center;
    padding:12px;
    background:#6C63FF;
    color:#fff;
    text-decoration:none;
    border-radius:30px;
}

.profile-btn:hover{
    background:#00BFA6;
}